head
  meta(charset="utf-8")
  title angular tutorial
  link(rel="stylesheet" href="../lib/bootstrap.css")

  script(type="text/javascript" src="../lib/underscore.js")
  script(type="text/javascript" src="../lib/angular.js")
  script(type="text/javascript" src="./app.js")
